@model FasePractica.WebApp.Models.Empresa

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Empresa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alias" class="control-label"></label>
                <input asp-for="Alias" class="form-control" />
                <span asp-validation-for="Alias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoEmpresa" class="control-label"></label>
                <select asp-for="TipoEmpresa" class="form-control"></select>
                <span asp-validation-for="TipoEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPersona" class="control-label"></label>
                <select asp-for="TipoPersona" class="form-control"></select>
                <span asp-validation-for="TipoPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ruc" class="control-label"></label>
                <input asp-for="Ruc" class="form-control" />
                <span asp-validation-for="Ruc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectorProductivo" class="control-label"></label>
                <input asp-for="SectorProductivo" class="form-control" />
                <span asp-validation-for="SectorProductivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitud" class="control-label"></label>
                <input asp-for="Latitud" class="form-control" />
                <span asp-validation-for="Latitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitud" class="control-label"></label>
                <input asp-for="Longitud" class="form-control" />
                <span asp-validation-for="Longitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TutorId" class="control-label"></label>
                <input asp-for="TutorId" class="form-control" />
                <span asp-validation-for="TutorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstudiantesConvenio" class="control-label"></label>
                <input asp-for="EstudiantesConvenio" class="form-control" />
                <span asp-validation-for="EstudiantesConvenio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstudiantesActuales" class="control-label"></label>
                <input asp-for="EstudiantesActuales" class="form-control" />
                <span asp-validation-for="EstudiantesActuales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
