@model FasePractica.Data.Models.Contacto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Contacto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TituloProfesional" class="control-label"></label>
                <input asp-for="TituloProfesional" class="form-control" />
                <span asp-validation-for="TituloProfesional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoEmpresa" class="control-label"></label>
                <input asp-for="CargoEmpresa" class="form-control" />
                <span asp-validation-for="CargoEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpresaId" class="control-label"></label>
                <select asp-for="EmpresaId" class="form-control" asp-items="ViewBag.EmpresaId"></select>
                <span asp-validation-for="EmpresaId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PersonaId" />
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoInstitucional" class="control-label"></label>
                <input asp-for="CorreoInstitucional" class="form-control" />
                <span asp-validation-for="CorreoInstitucional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoPersonal" class="control-label"></label>
                <input asp-for="CorreoPersonal" class="form-control" />
                <span asp-validation-for="CorreoPersonal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
