@model FasePractica.WebApp.Models.Convenio

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Convenio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConvenioId" class="control-label"></label>
                <input asp-for="ConvenioId" class="form-control" />
                <span asp-validation-for="ConvenioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinal" class="control-label"></label>
                <input asp-for="FechaFinal" class="form-control" />
                <span asp-validation-for="FechaFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpresaId" class="control-label"></label>
                <select asp-for="EmpresaId" class="form-control" asp-items="ViewBag.EmpresaId"></select>
                <span asp-validation-for="EmpresaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InformeViabilidadId" class="control-label"></label>
                <select asp-for="InformeViabilidadId" class="form-control" asp-items="ViewBag.InformeViabilidadId"></select>
                <span asp-validation-for="InformeViabilidadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemorandoId" class="control-label"></label>
                <select asp-for="MemorandoId" class="form-control" asp-items="ViewBag.MemorandoId"></select>
                <span asp-validation-for="MemorandoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActaId" class="control-label"></label>
                <select asp-for="ActaId" class="form-control" asp-items="ViewBag.ActaId"></select>
                <span asp-validation-for="ActaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstudiantesConvenio" class="control-label"></label>
                <input asp-for="EstudiantesConvenio" class="form-control" />
                <span asp-validation-for="EstudiantesConvenio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstudiantesActuales" class="control-label"></label>
                <input asp-for="EstudiantesActuales" class="form-control" />
                <span asp-validation-for="EstudiantesActuales" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="DocumentoId" />
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirmadoEl" class="control-label"></label>
                <input asp-for="FirmadoEl" class="form-control" />
                <span asp-validation-for="FirmadoEl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlmacenadoEn" class="control-label"></label>
                <input asp-for="AlmacenadoEn" class="form-control" />
                <span asp-validation-for="AlmacenadoEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control"></select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
