<!--Inicio Ejemplo-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
        
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Imagen</th>
                                <th class="text-center" scope="col">PLANEACIÓN PROYECTO EMPRESARIAL</th>
                                <th scope="col">Imagen</th>
                              </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <tbody>
                            <tr>
                                <th scope="row">NOMBRE ESTUDIANTE</th>
                                <td colspan="3">NOMBRE Y APELLIDOS</td>
                            </tr>
                            <tr>
                                <th scope="row">CARRERA</th>
                                <td colspan="3">NOMBRE DE LA CARRERA</td>
                            </tr>
                            <tr>
                                <th scope="row">NIVEL</th>
                                <td>NIVEL ESTUDIANTE</td>
                                <th scope="row">PERÍODO LECTIVO</th>
                                <td>MES INICIO - MES FINAL</td>
                            </tr>
                            <tr>
                                <th scope="row">ENTIDAD FORMADORA</th>
                                <td colspan="3">EMPRESA FORMADORA</td>
                            </tr>
                            <tr>
                                <th scope="row">HORAS DE FORMACIÓN PRÁCTICA</th>
                                <td colspan="3">HORAS</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                      <tbody>
                          <tr>
                            <th scope="row">TÍTULO DE PROYECTO</th>
                            <td>NOMBRE DE PROYECTO</td>
                          </tr>
                          <tr>
                              <th scope="row" colspan="2">ANÁLISIS DE LA SITUACIÓN ACTUAL(DESCRIPCIÓN DEL PROBLEMA O LA TAREA)</th>
                          </tr>
                          <tr>
                              <td colspan="2">
                                  <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                  </p>
                              </td>
                          </tr>
                          <tr>
                              <th colspan="2">OBJETIVO DEL PROYECTO</th>
                          </tr>
                          <tr>
                            <td colspan="2">
                                <p>
                                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">DESCRIPCIÓN DEL PROCEDIMIENTO DE IDENTIFICACIÓN DEL PROYECTO (¿PORQUE SE ESCOGIÓ ESTE PROYECTO?)</th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p>
                                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">INDICADOR</th>
                            <th scope="row">MEDICIÓN / FÓRMULA</th>
                        </tr>
                        <tr>
                            <td>NOMBRE INDICADOR</td>
                            <td>NOMBRE MEDICIÓN</td>
                        </tr>
                        <tr>
                            <th scope="row">META</th>
                            <th scope="row">FUENTE DE DATOS</th>
                        </tr>
                        <tr>
                            <td>NOMBRE META</td>
                            <td>NOMBRE FUENTE DE DATOS</td>
                        </tr>
                        <tr>
                            <th scope="row">PRESUPUESTO</th>
                            <th scope="row">BENEFICIOS ESPERADOS</th>
                        </tr>
                        <tr>
                            <td>PRESUPUESTO ESPERADO</td>
                            <td>BENEFICIOS ESTUDIANTE</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                            <th colspan="7">COMENTARIOS:</th>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <p>
                                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>FECHA</th>
                            <td colspan="6">FECHA DE PRESENTACIÓN</td>
                        </tr>
                        <tr>
                            <td></td>
                            <th colspan="2">COORDINADOR DE CARRERA DE LA IES</th>
                            <th colspan="2">ESTUDIANTE</th>
                            <th colspan="2">TUTOR GENERAL DE LA ENTIDAD FORMADORA</th>
                        </tr>
                        <tr>
                            <th>NOMBRE</th>
                            <td colspan="2">NOMBRE DEL COORDINADOR DE CARRERA</td>
                            <td colspan="2">NOMBRE DEL ESTUDIANTE</td>
                            <td colspan="2">NOMBRE DEL TUTOR</td>
                        </tr>
                        <tr>
                            <th>FIRMA</th>
                            <td colspan="2">FIRMA DEL COORDINADOR DE CARRERA</td>
                            <td colspan="2">FIRMA DEL ESTUDIANTE</td>
                            <td colspan="2">FIRMA DEL TUTOR</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>

        <!-- tabla dos -->
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                      
                    </table>
                  </div>
            </div>
        </div>    

        <!-- fin tabla dos-->

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>

<!--Fin inicio-->


<!-- Plantilla original-->

<!-- @model FasePractica.Data.Models.Proyecto

@{
    ViewData["Title"] = "Crear";
} -->


<div class="row">
    <h1>PLANEACIÓN PROYECTO EMPRESARIAL</h1>
</div>
<div class="row">
    <div class="col-4">
        NOMBRE ESTUDIANTE
    </div>
    <div class="col-8">
        @Model.Estudiante.Apellido @Model.Estudiante.Nombre
    </div>
</div>
<div class="row">
    <div class="col-4">
        CARRERA
    </div>
    <div class="col-8">
        @Model.Carrera.Nombre
    </div>
</div>
<div class="row">
    <div class="col-4">
        NIVEL
    </div>
    <div class="col-8">
        @Model.Nivel.Nombre
    </div>
</div>
<div class="row">
    <div class="col-4">
        PERIODO LECTIVO
    </div>
    <div class="col-8">
        @Model.Semestre.Nombre
    </div>
</div>
<div class="row">
    <div class="col-4">
        ENTIDAD FORMADORA
    </div>
    <div class="col-8">
        @Model.Proyecto.Empresa
    </div>
</div>
<div class="row">
    <div class="col-4">
        HORAS DE FORMACIÓN PRÁCTICA
    </div>
    <div class="col-8">
        @Model.Nivel.HorasPracticas
    </div>
</div>


<!-- Agregar mas filas de el docuemnto de proyecto empresarial -->
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SemestreId" class="control-label"></label>
                <select asp-for="SemestreId" class ="form-control" asp-items="ViewBag.SemestreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmpresaId" class="control-label"></label>
                <select asp-for="EmpresaId" class ="form-control" asp-items="ViewBag.EmpresaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tecnologia" class="control-label"></label>
                <input asp-for="Tecnologia" class="form-control" />
                <span asp-validation-for="Tecnologia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TutorId" class="control-label"></label>
                <select asp-for="TutorId" class="form-control" asp-items="ViewBag.TutorId"></select>
                <span asp-validation-for="TutorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactoId" class="control-label"></label>
                <select asp-for="ContactoId" class="form-control" asp-items="ViewBag.ContactoId"></select>
                <span asp-validation-for="ContactoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!-- @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} -->

<!-- Fin Plantilla original-->
