<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
      <div class="container">
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                      <thead>
                          <tr>
                              <th>Logo</th>
                          </tr>
                          <tr>
                              <th class="text-center table-light">INFORME DE APRENDIZAJE</th>
                          </tr>
                      </thead>
                    </table>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                      <tbody>
                          <tr>
                              <th>NOMBRE ESTUDIANTE</th>
                              <td colspan="2">Anderson Miguel Chanchay Ushiña</td>
                              <th class="table-light">CALIFICACIÓN/100</th>
                          </tr>
                          <tr>
                              <th>CARRERA</th>
                              <td colspan="2">TECNOLOGÍA SUPERIOR EN DESARROLLO DE SOFTWARE</td>
                              <td rowspan="3">100</td>
                          </tr>
                          <tr>
                              <th>NIVEL ACADÉMICO:</th>
                              <td colspan="2">6to semestre</td>
                          </tr>
                          <tr>
                              <th>PERIODO LECTIVO:</th>
                              <td colspan="2">Marzo 2021 – Abril 2021</td>
                          </tr>
                          <tr>
                              <th>SEMANA</th>
                              <td>DEL: 15/ Marzo / 2021</td>
                              <td>AL: 19/ Marzo / 2021</td>
                              <th class="table-light">NO. SEMANA</th>
                          </tr>
                          <tr>
                              <th>ENTIDAD FORMADORA:</th>
                              <td colspan="2">CORAPE</td>
                              <td rowspan="2">2</td>
                          </tr>
                          <tr>
                            <th>TUTOR ACADÉMICO:</th>
                            <td colspan="2">Ing. Gorky Estrella</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                      <thead>
                          <tr class="text-center table-light">
                              <th colspan="7">Actividades en la Empresa</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <th>Día</th>
                              <th>Fecha</th>
                              <th>Hora ingreso</th>
                              <th>Hora egreso</th>
                              <th>Hora Almuerzo</th>
                              <th>Horas totales</th>
                              <th>Descripción de las actividades realizadas</th>
                          </tr>
                          <tr>
                              <td>Dia</td>
                              <td>0/0/0</td>
                              <td>00:00am</td>
                              <td>00/00pm</td>
                              <td>00:00pm</td>
                              <td>00</td>
                              <td><p>
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis animi maxime, voluptate minus esse excepturi blanditiis debitis saepe, sequi ratione rem. Alias quas fugit facilis perspiciatis! Saepe reprehenderit aliquam deleniti.
                              </p></td>
                          </tr>
                          <tr>
                            <td>Dia</td>
                            <td>0/0/0</td>
                            <td>00:00am</td>
                            <td>00/00pm</td>
                            <td>00:00pm</td>
                            <td>00</td>
                            <td><p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis animi maxime, voluptate minus esse excepturi blanditiis debitis saepe, sequi ratione rem. Alias quas fugit facilis perspiciatis! Saepe reprehenderit aliquam deleniti.
                            </p></td>
                        </tr>
                        <tr>
                            <td>Dia</td>
                            <td>0/0/0</td>
                            <td>00:00am</td>
                            <td>00/00pm</td>
                            <td>00:00pm</td>
                            <td>00</td>
                            <td><p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis animi maxime, voluptate minus esse excepturi blanditiis debitis saepe, sequi ratione rem. Alias quas fugit facilis perspiciatis! Saepe reprehenderit aliquam deleniti.
                            </p></td>
                        </tr>
                        <tr>
                            <td>Dia</td>
                            <td>0/0/0</td>
                            <td>00:00am</td>
                            <td>00/00pm</td>
                            <td>00:00pm</td>
                            <td>00</td>
                            <td><p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis animi maxime, voluptate minus esse excepturi blanditiis debitis saepe, sequi ratione rem. Alias quas fugit facilis perspiciatis! Saepe reprehenderit aliquam deleniti.
                            </p></td>
                        </tr>
                        <tr>
                            <td>Dia</td>
                            <td>0/0/0</td>
                            <td>00:00am</td>
                            <td>00/00pm</td>
                            <td>00:00pm</td>
                            <td>00</td>
                            <td><p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis animi maxime, voluptate minus esse excepturi blanditiis debitis saepe, sequi ratione rem. Alias quas fugit facilis perspiciatis! Saepe reprehenderit aliquam deleniti.
                            </p></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr class="text-center table-light">
                                <th colspan="3">Actividades autónomas</th>
                            </tr>
                            <tr>
                                <th>Fecha</th>
                                <th>Horas</th>
                                <th>Descripción de las actividades realizadas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>00/00/00</td>
                                <td>0000</td>
                                <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quod fugit, ducimus itaque, est unde vel optio quos voluptate voluptas accusantium consectetur. Tempore provident velit facilis at repellat sequi ratione.</p></td>
                            </tr>
                            <tr>
                                <td>00/00/00</td>
                                <td>0000</td>
                                <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quod fugit, ducimus itaque, est unde vel optio quos voluptate voluptas accusantium consectetur. Tempore provident velit facilis at repellat sequi ratione.</p></td>
                            </tr>
                            <tr>
                                <td>00/00/00</td>
                                <td>0000</td>
                                <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quod fugit, ducimus itaque, est unde vel optio quos voluptate voluptas accusantium consectetur. Tempore provident velit facilis at repellat sequi ratione.</p></td>
                            </tr>
                            <tr>
                                <td>00/00/00</td>
                                <td>0000</td>
                                <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quod fugit, ducimus itaque, est unde vel optio quos voluptate voluptas accusantium consectetur. Tempore provident velit facilis at repellat sequi ratione.</p></td>
                            </tr>
                            <tr>
                                <td>00/00/00</td>
                                <td>0000</td>
                                <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quod fugit, ducimus itaque, est unde vel optio quos voluptate voluptas accusantium consectetur. Tempore provident velit facilis at repellat sequi ratione.</p></td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                      <thead>
                          <tr class="table-light">
                              <th>Reflexión de las actividades en relación con las clases recibidas en el Instituto y el logro de aprendizaje:</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, nesciunt. Excepturi, sunt vero! Nihil consequatur deserunt a, mollitia maiores voluptas architecto aperiam esse dolorem temporibus laboriosam reiciendis distinctio cumque explicabo!</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                      <thead>
                          <tr class="table-light">
                              <th colspan="2">Observaciones de la empresa:</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td colspan="2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, nesciunt. Excepturi, sunt vero! Nihil consequatur deserunt a, mollitia maiores voluptas architecto aperiam esse dolorem temporibus laboriosam reiciendis distinctio cumque explicabo!</td>
                          </tr>
                          <tr class="text-center">
                              <td>FIRMA</td>
                              <td>FIRMA</td>
                          </tr>
                          <tr class="text-center">
                              <th>FIRMA ESTUDIANTE</th>
                              <th>FIRMA TUTOR DE LA ENTIDAD FORMADORA</th>
                          </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>