<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
      <div class="container">
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th class="text-center table-light">INSTITUTO TECNOLÓGICO SUPERIOR BENITO JUÁREZ</th>
                            </tr>
                            <tr>
                                <th class="text-center table-light">Tecnología Superior en Desarrollo de Software</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center table-light">Evaluación Fase Práctica (Malla antigua)</th>
                            </tr>
                        </tbody>
                    </table>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                      <tbody>
                          <tr>
                              <th>ESTUDIANTE</th>
                              <td colspan="3">NOMBRE ESTUDINATE</td>
                          </tr>
                          <tr>
                                <th>NIVEL</th>
                                <td>5</td>
                                <th>PERÍODO LECTÍVO</th>
                                <td>FECHA</td>
                          </tr>
                          <tr>
                                <th>EMPRESA FORMADORA</th>
                                <td colspan="3">LINKEAR</td>
                          </tr>
                          <tr>
                                <th>TUTOR DE EMPRESA</th>
                                <td colspan="3">JUAN CARLOS HINOJOSA</td>
                          </tr>
                          <tr>
                                <th>TUTOR DE INSTITUTO</th>
                                <td colspan="3">MAURICIO PRIETO	</td>
                          </tr>
                          <tr>
                              <th>FECHA DE EVALUCIÓN</th>
                              <td>0/0/0</td>
                              <th>HORAS DE FASE PRACTICA REALIZADAS</th>
                              <td>280</td>
                          </tr>
                          <tr>
                              <th>PRÁCTICA DESDE</th>
                              <td>0/0/0</td>
                              <th>PRÁCTICA HASTA</th>
                              <td>0/0/0</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr class="text-center table-light">
                                <th colspan="2">CALIFICACIÓN DE INSTITUTO (25%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center table-light">
                                <th class="text-center">PARÁMETROS DE EVALUACIÓN</th>
                                <th>NOTA (1/10)</th>
                            </tr>
                            <tr>
                                <td>Entrega de documentación</td>
                                <td>10.00</td>
                            </tr>
                            <tr>
                                <td>Presentación del proyecto empresarial</td>
                                <td>10.00</td>
                            </tr>
                            <tr>
                                <td>Adquisición de nuevos conocimientos</td>
                                <td>10.00</td>
                            </tr>
                            <tr>
                                <td>Aplicación de conocimiento técnico	</td>
                                <td>10.00</td>
                            </tr>
                            <tr>
                                <th>Sumatoria</th>
                                <th class="text-center table-light">40.00</th>
                            </tr>
                            <tr>
                                <th>Promedio * 0.5</th>
                                <th class="text-center table-light">50.00</th>
                            </tr>
                        </tbody>
                    </table>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr class="text-center table-light">
                                <th colspan="2">CALIFICACIÓN DE LA EMPRESA (75%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center table-light">
                                <th class="text-center">PARÁMETROS DE EVALUACIÓN</th>
                                <th>NOTA (1/10)</th>
                            </tr>
                            <tr>
                                <td>Promedio de evaluación continua</td>
                                <td>10.00</td>
                            </tr>
                            <tr>
                                <td>Presentación del proyecto empresarial</td>
                                <td>10.00</td>
                            </tr>
                            <tr>
                                <td>Cumplimiento de objetivos de proyecto empresarial</td>
                                <td>10.00</td>
                            </tr>
                            <tr>
                                <td>Actitud, responsabilidad y motivación durante la práctica</td>
                                <td>10.00</td>
                            </tr>
                            <tr>
                                <th>Sumatoria</th>
                                <th class="text-center table-light">40.00</th>
                            </tr>
                            <tr>
                                <th>Promedio * 0.5</th>
                                <th class="text-center table-light">50.00</th>
                            </tr>
                        </tbody>
                    </table>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr class="text-center table-light">
                                <th colspan="2">CONSOLIDADO FASE PRACTICA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Calificación instituto 25%	</th>
                                <th class="text-center table-light">50.00</th>
                            </tr>
                            <tr>
                                <th>Calificación empresa 75%</th>
                                <th class="text-center table-light">50.00</th>
                            </tr>
                            <tr>
                                <th>Calificación final	</th>
                                <th class="text-center table-light">50.00</th>
                            </tr>
                        </tbody>
                    </table>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <tbody>
                            <tr>
                                <td>FIRMA</td>
                                <td>FIRMA</td>
                            </tr>
                            <tr>
                                <th class="text-center">Tutor académico	</th>
                                <th class="text-center">Tutor empresarial</th>
                            </tr>
                        </tbody>
                    </table>
                  </div>
            </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>