<!--Plan Marco-->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-light">
                            <tr>
                                <th>Imagen</th>
                                <th>Imagen</th>
                                <th>Imagen</th>
                                <th>Imagen</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center" colspan="4">PLAN MARCO DE FORMACIÓN</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                      <tbody>
                          <tr>
                              <th>NOMBRE ESTUDIANTE</th>
                              <td colspan="4">NOMBRE DEL ESTUDIANTE</td>
                          </tr>
                          <tr>
                              <th>CARRERA:</th>
                              <td colspan="2">TECNOLOGIA SUPERIOR EN DESARROLLO DE SOFTWARE</td>
                              <th>NIVEL:</th>
                              <td>NIVEL ESTUDIANTES</td>
                              
                          </tr>
                          <tr>
                              <th>ENTIDAD RECEPTORA</th>
                              <td colspan="2">EMPRESA</td>
                              <th>HORAS DE FORMACIÓN PRÁCTICA</th>
                              <td>HORAS</td>
                          </tr>
                          <tr>
                              <th>PERÍODO LECTIVO</th>
                              <td colspan="4">FECHA</td>
                          </tr>
                          <tr>
                              <th class="text-center table-light" colspan="5">NIVELES DE CONOCIMIENTO</th>
                          </tr>
                          <tr>
                            <th colspan="5">1: CONOCIMIENTOS BÁSICOS: El estudiante de la carrera dual debe familiarizarse con los contenidos y relaciones del área, de tal forma que pueda nombrarlos y diferenciarlos.</th>
                          </tr>
                          <tr>
                            <th colspan="5">2: CONOCIMIENTOS: El estudiante de la carrera dual se debe formar en las competencias del área hasta el punto que las pueda aclarar y pueda dar información sobre las mismas.</th>
                          </tr>
                          <tr>
                            <th colspan="5">3: PARTICIPACION EN LOS PROCEDIMIENTOS: El estudiante de la carrera dual debe adquirir las suficientes capacidades prácticas de tal forma que pueda realizar las tareas o pueda preparar su ejecución.</th>
                          </tr>
                          <tr>
                            <th colspan="5">4: VALORACIÓN O ELABORACIÓN PROPIA DE PROCEDIMIENTOS DE TRABAJO: El estudiante de la carrera dual se debe formar en la aplicación práctica de tal forma que pueda realizar o elaborar las tareas sin indicaciones y además pueda evaluar una tarea de acuerdo a su criterio.</th>
                          </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <tbody>
                            <tr>
                                <th class="table-light" colspan="8">OBJETIVOS DE APRENDIZAJE: Al finalizar la fase práctica, el/la estudiante estará en capacidad de:</th>
                            </tr>
                            <tr>
                                <th rowspan="3">No.</th>
                                <th rowspan="3">OBJETIVOS DE APRENDIZAJE</th>
                                <th>NIVEL DE LOGRO ESPERADO</th>
                                <th rowspan="3">NIVEL REAL ALCANZADO</th>
                                <th rowspan="3">TAREAS LABORALES DE APRENDIZAJE A RELIZAR PARA ALCANZAR EL OBJETIVO</th>
                                <th rowspan="3">PUESTO DE APRENDIZAJE(AREA O DEPARTAMENTO DE LA EMPRESA)</th>
                                <th rowspan="3">No. SEMANAS DE TRABAJO</th>
                                <th rowspan="3">RESPONSABLE DEL PUESTO DE APRENDIZAJE</th>
                            </tr>
                            <tr>
                                <td>(ponga una X en el número correspondiente)</td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="table table-bordered">
                                        <tr>
                                          <td>1</td>
                                          <td>2</td>
                                          <td>3</td>
                                          <td>4</td>
                                        </tr>
                                      </table>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis aliquid similique quas autem minus repudiandae qui consectetur tenetur sit iusto praesentium, molestias vero. Temporibus eum sit, sapiente molestias obcaecati esse?</p></td>
                                <td></td>
                                <td></td>
                                <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore adipisci ullam iusto labore repellendus odio excepturi fugit cumque aspernatur illum nobis, explicabo facere, quo ratione ipsum, eius enim soluta possimus.</p></td>
                                <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dolores ex, natus aspernatur, labore voluptatibus expedita alias aut consequuntur veritatis consequatur, repudiandae tenetur ipsa ea excepturi! Minima officia libero maxime.</p></td>
                                <td>365</td>
                                <td>Nombre de tutor</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <tbody>
                            <tr class="table-light">
                                <td></td>
                                <th class="text-center">TUTOR ACADEMICO</th>
                                <th class="text-center">TUTOR GENERAL DE LA ENTIDAD FORMADORA</th>
                            </tr>
                            <tr>
                                <th>NOMBRE</th>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>FIRMA</th>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
            </div>
        </div> 
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>


<!--Fin de plan marco-->


@model FasePractica.Data.Models.Proyecto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Proyecto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SemestreId" class="control-label"></label>
                <select asp-for="SemestreId" class ="form-control" asp-items="ViewBag.SemestreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmpresaId" class="control-label"></label>
                <select asp-for="EmpresaId" class ="form-control" asp-items="ViewBag.EmpresaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tecnologia" class="control-label"></label>
                <input asp-for="Tecnologia" class="form-control" />
                <span asp-validation-for="Tecnologia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TutorId" class="control-label"></label>
                <select asp-for="TutorId" class="form-control" asp-items="ViewBag.TutorId"></select>
                <span asp-validation-for="TutorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactoId" class="control-label"></label>
                <select asp-for="ContactoId" class="form-control" asp-items="ViewBag.ContactoId"></select>
                <span asp-validation-for="ContactoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
