<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
      <div class="container">
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-light">
                            <tr>
                                <th>Imagen</th>
                                <th>Imagen</th>
                                <th>Imagen</th>
                                <th>Imagen</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center" colspan="4">PLAN MARCO DE ROTACIÓN</th>
                            </tr>
                        </tbody>
                    </table>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                      <tbody>
                          <tr>
                              <th>NOMBRE ESTUDIANTE</th>
                              <td colspan="3">NOMBRE DEL ESTUDIANTE</td>
                          </tr>
                          <tr>
                              <th>CARRERA</th>
                              <td>TECNOLOGIA SUPERIR EN DESARROLLO DE SOFTWARE</td>
                              <th>NIVEL</th>
                              <td>NIVEL DE ESTUDIANTE</td>
                          </tr>
                          <tr>
                              <th>ENTIDAD RECEPTORA</th>
                              <td>EMPRESA</td>
                              <th>HORAS DE FORMACIÓN PRÁCTICA</th>
                              <td>356</td>
                          </tr>
                          <tr>
                              <th>PERÍODO LECTÍVO</th>
                              <td colspan="3">FECHA</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                      <tbody>
                          <tr class="table-light">
                            <th rowspan="2">#</th>
                            <th rowspan="2">OBJETIVOS DE APRENDIZAJE</th>
                            <th rowspan="2">PUESTO DE APRENDIZAJE (AREA O DEPARTAMENTO DE LA EMPRESA)</th>
                            <th>MES</th>
                            <th>MES</th>
                            <th>MES</th>
                          </tr>
                          <tr>
                              <td>fecha</td>
                              <td>fecha</td>
                              <td>fecha</td>
                          </tr>
                          <tr>
                              <td>#</td>
                              <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus pariatur odit illo nemo laboriosam exercitationem saepe ipsum autem iste neque. Fugit quas magni ab voluptas. Officiis modi dolorem voluptas quidem!</p></td>
                              <td>PUESTO</td>
                              <td>FECHA</td>
                              <td>FECHA</td>
                              <td>FECHA</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                      <tbody>
                          <tr class="table-light">
                              <th class="text-center" colspan="3">COMPETENCIAS NECESARIAS</th>
                          </tr>
                          <tr class="table-light">
                              <th>CONOCIMIENTOS TEÓRICOS</th>
                              <th>PROCEDIMENTALES</th>
                              <th>ACTITUDINALES</th>
                          </tr>
                          <tr>
                              <td><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, explicabo optio iure iste vitae sequi suscipit similique libero necessitatibus veritatis officiis et provident repellendus quas? Facilis consectetur saepe blanditiis! Quibusdam.</p></td>
                              <td><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A voluptatibus facilis cumque provident sint, quaerat ipsum consequuntur accusantium magnam ipsam assumenda modi libero unde amet adipisci quod commodi, totam sed?</p></td>
                              <td><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quas harum distinctio magnam, qui quos iure possimus? Velit consequuntur deserunt repellendus est, modi nobis, fugiat nostrum cumque distinctio asperiores eaque.</p></td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
        </div> 
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <tbody>
                            <tr class="table-light">
                                <td></td>
                                <th class="text-center">TUTOR ACADEMICO</th>
                                <th class="text-center">TUTOR GENERAL DE LA ENTIDAD FORMADORA</th>
                            </tr>
                            <tr>
                                <th>NOMBRE</th>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>FIRMA</th>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
            </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>